<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="email=no" name="format-detection">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="node">
    <meta name="keywords" content="node">
    <meta name="author" content="qiutc, tongchengqiu@gmail.com">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="app"></div>
</body>
<script src="/lib/jquery.min.js"></script>
<script src="/lib/react.min.js"></script>
<script src="/js/bundle.js"></script>
</html>
